.postTitle {
  text-align: center;
}

.postTitle a, .postTitle a:visited {
  text-decoration: none;
  color: #333;
}

.articleSummary {
  display: flex;
  align-items: center;
  justify-content: right;
}

.articleSummary time {
  border-left: 1px solid gainsboro;
  padding: 0 10px;
  font-size: 10pt;
  color: gray;
  display: block;
}
