.headerLogo {
  margin: 60px auto;
  font-family: "M PLUS Rounded 1c";
  text-align: center;
}

.headerLogoImage {
  width: 40%;
  max-width: 200px;
}

.headerTitle {
  word-break: keep-all;
  overflow-wrap: break-word;
}

@media screen and (max-width: 600px) {
  .headerLogo {
    font-size: 10pt;
  }
}

@media screen and (max-width: 350px) {
  .headerLogo {
    font-size: 9pt;
  }
}

li code, p code {
  background-color: whitesmoke;
  font-size: 12pt;
  font-family: "M PLUS Rounded 1c";
  padding: 5px 10px;
  border-radius: 5px;
}
