.articleScreen {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.articleScreen h2, h3 {
  font-family: "M PLUS Rounded 1c";
}

.fullScreen {
  height: 100vh;
}

.gray {
  background-color: #e9e9e9;
}

.content {
  padding: 70px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
