.workingSection {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px gainsboro;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}

